/*
DESCRIPTION:Custom stylesheet for snwh.org.
AUTHOR:Sam Hewitt
AUTHOR URI:http://snwh.org/
*/

/*--------BEGINNING OF STYLESHEET--------*/

/*----- Cookie Bar -----*/

#cookie-bar  {
    background: rgba(0,0,0,0.8);
    height: 64px;
    z-index: 5;
    color: #f7f7f7;
    text-align: center;
}

#cookie-bar.fixed  {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#cookie-bar p  {
    top: 0;
    font-family:"Source Sans Pro";
    opacity:1.0;
    font-size:1em;
    font-weight:400;
    text-align:center;
    text-decoration:none;
    text-shadow:0px 1px rgba(0,0,0,0.3);
    color:rgba(255,255,255,1.0);
    line-height:2em;
}

#cookie-bar a  {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}

/*----- Buttons -----*/


/*-- Common --*/

#cookie-bar .cb-enable, #cookie-bar .cb-disable, #cookie-bar .cb-policy {
    border-radius: 3px;
    margin-left: 8px;
    position:relative;
    margin:0 0 0 1em;
    height:34px;
    width:120px;
    border:none;
    -webkit-border-radius:0.25em;
    -moz-border-radius:0.25em;
    border-radius:0.25em;
    box-shadow:inset 0 -2px 0 0 rgba(0,0,0,0.2);
}

#cookie-bar .cb-enable  {
    background-color: #317F12;
}

#cookie-bar .cb-enable:hover  {
    opacity: 0.9;
}

#cookie-bar .cb-enable:active  {
    box-shadow: none;
    height:32px;
}

#cookie-bar .cb-disable  {
    background-color: #c51e1d;
}

#cookie-bar .cb-disable:hover  {
    opacity: 0.9;
}

#cookie-bar .cb-disable:active  {
    box-shadow: none;
    height:32px;
}

#cookie-bar .cb-policy  {
    background-color: #2173d5;
}

#cookie-bar .cb-policy:hover  {
    opacity: 0.9;
}

#cookie-bar .cb-policy:active  {
    box-shadow: 0 1px 0 0 rgba(0,0,0,0);
    top:1px;
}


/*--------MEDIA QUERIES--------*/

@media only screen and (orientation:portrait), only screen and (max-device-width :720px), only screen and (max-device-width :1080px) {
    #cookie-bar  {
        height: 8em;
    }
}

@media only screen and (max-width : 480px), only screen and (max-width : 768px) {
    #cookie-bar  {
        height: 8em;
    }
}
